<%= form_with model: [ @event, @event.attendees.build ] do |form| %>
  <p>
    <%= form.label 'Select an option' %><br>
    <%= form.check_box :status, value: 'accepted' %>
    <%= form.label_tag :status, 'accept' %>
    <%= form.check_box :status, value: 'refused' %>
    <%= form.label_tag :status, 'refuse' %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>